//----------Styles for Blog Posts

article {
	@include rem-fallback(margin-bottom, 2rem);
}

.posts {
	@include bodyFont;
}

.date {
	@include displayFont;
	color: $grey;
	@include rem-fallback(font-size, 0.8rem);
}

.postTitle {
	color: $brandPurple;
}

.postContent {
	@include rem-fallback(padding-left, 1rem);
}

.shareButton {
	float: right;
}