//----------Styles for Site Footer
.siteFooter {
	clear: both;
	@include clearfix;
	@include rem-fallback(padding, 2rem, 2rem, 1rem, 2rem);
	background-color: $brandPurple;
	@include displayFont;
	color: white;
	@include rem-fallback(font-size, 0.7rem);

	.stylelist {
		float: left;
		width: 140px;

		@include bp(sapling) {
			margin: 0 auto;
		}
	}

	.copyright {
		float: right;
		text-align: right;

		@include bp(sapling) {
			text-align: center;
		}
	}

	.stylelist,
	.copyright {
		@include bp(sapling) {
			float: none;
		}
	}
}