//----------Container Styles
.container {
@include rem-fallback(max-width, 62.5rem);
margin: 0 auto;
}

//----------Grid Styles

[class*='col-'] {
	float: left;
	@include rem-fallback(padding-right, 1.4rem);

	@include bp(sapling) {
		float: none;
	}
}

.grid {
	@include rem-fallback(padding, 1.25rem);
	@include clearfix;
}

.nopad {
	padding: 0;
}

.col-1-3 {
	width: 33%;
	@include bp(sapling) {
		width: 100%;
	}
}

.col-2-3 {
	width: 66%;
	@include bp(sapling) {
		width: 100%;
	}
}