//----------Styles for Non-fixed header state

.headerArea {
	background: url("../img/headerBG.png") no-repeat top center;

	@include bp(sapling) {
		background-size: contain;

		> .socialIcons {
			display: block;
			visibility: visible;
			float: none;
			@include rem-fallback(padding, 1rem, 0);
			border-bottom: 6px solid $brandPurple;
		}
	}

	.logo {
		max-width: 592px;
		@include rem-fallback(margin, 1.2rem, 0);
		margin-left: auto; margin-right: auto;

		@include bp(sapling) {
			margin: 0 auto;
			@include rem-fallback(padding, 2rem, 0, 0, 0);
			max-width: 55%;
		}

		@include bp(seedling) {
			@include rem-fallback(padding, 2rem, 1rem, 0);
		}
	}
}

//----------Gobal Header Styles
.homeHeader,
.siteHeader {
	@include displayFont;
	@include rem-fallback(font-size, 0.8rem);

	.menuToggle {
		@include rem-fallback(font-size, 2.5rem);
		float: right;
		margin: 7% 2rem 0 0;
		color: $brandPurple;

		@include bp(seedling) {
			@include rem-fallback(font-size, 1.5rem);
			margin-top: 8%;
		}
	}
}
	.menuToggle {
		display: none;

		@include bp(sapling) {
			display: inline-block;
		}
	}


.mainNav {
	@include clearfix;

	@include bp(sapling) {
		display: none;
	}
	
	ul {
		@include rem-fallback(width, 38rem);
		margin: 0 auto;
		padding: 0;
		list-style: none;
		@include clearfix;

		@include bp(sapling) {
			width: 100%;
		}
	}

	li {
		float: left;
		width: 25%;
		@include bp(sapling) {
			width: 100%;
			background-color: $brandPurple;
			border-bottom: 1px solid white;

			&:last-of-type {
				border: none;
			}

			a {
				color: white;
			}
		}
		text-align: center;
		@include transition(background-color 0.3s ease);

		&:hover {
			background-color: $brandPurple;
				>a {
					color: white;
				}
		}
	}

		a {
			display: block;
			color: black;
			@include transition(color 0.3s ease);
			@include rem-fallback(padding, 1rem);
	}

	.contact {
		position: relative;

			@include bp(hover) {
				&:hover .emailBlock {
				opacity: 1;
				}
			}

			> a {
					position: relative;
				}

		}
		//--Triangle after contact on small screens
		.hidden,
		.showing {
			> a {
				@include bp(sapling) {
					&:after {
						content: "";
						position: absolute;
						top: 23px;
						@include rem-fallback(margin-left, 0.375rem);
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;	
					}
				}
			}
		}

		.hidden > a {
			@include bp(sapling) {
				&:after {
					border-top: 6px solid white;
				}
			}
		}

		.showing > a {
			@include bp(sapling) {
				&:after {
					border-bottom: 6px solid white;
				}
			}
		}

		.emailBlock {

			@include bp(hover) {
				@include rem-fallback(width, 14rem);
				@include rem-fallback(bottom, -7.2rem);
				left: 0;
				position: absolute;
				opacity: 0;
				@include transition(opacity 0.3s ease);
			}
			
			@include rem-fallback(padding, 2rem, 0);
			z-index: 3;
			background-color: $brandPurple;

			@include bp(sapling) {
				width: 100%;
				display: none;
				@include rem-fallback(padding, 0, 0, 1rem, 0);
			}

			p {
				margin: 0;
			}

			a {
				color: #D2C2CC;
			}
		}
	}


//------------Home Page Header Styles

.homeHeader {
	border-top: 6px solid $brandPurple;

	@include bp(sapling) {
		border: none;
	}

	.mainNav {
		background: rgba(255,255,255, 0.6);
	}

	.menuToggle {
			@include rem-fallback(font-size, 2.5rem);
			position: absolute;
			right: 3%;
			top: 3%;

			@include bp(seedling) {
				@include rem-fallback(font-size, 1.5rem);
				top: 2.5%;
				right: 2%;
			}
		}

	.headerLogo {
		display: none;
		visibility: hidden;
	}

	.socialIcons {
		display: none;
		visibility: hidden;
	}
}

//----------Standard Header Styles

.siteHeader{
	border-top: none;
	border-bottom: 6px solid $brandPurple;
	background-color: white;

	.logoBig {
		display: none;
		max-width: 55%;
		margin: 0 auto;
		@include rem-fallback(padding, 1rem);
	}

	@include bp(tree) {
		@include rem-fallback(font-size, 0.7rem);

		.mainNav ul {
				width: 60%;
				margin: 0 auto;

				a {
					@include rem-fallback(padding, 1rem, 0.3125rem);
				}
		}
	}

	@include bp(sapling) {
			.logoSm {
				display: none;
			}

			.logoBig {
				display: block;
			}
		}

	.container {
		@include rem-fallback(padding, 0, 0.8rem);

		@include bp(sapling) {
			padding: 0;
		}
	}
	
	.headerLogo {
		display: inline-block;
		visibility: visible;
		float: left;
		@include rem-fallback(margin-top, 0.7rem);

		@include bp(sapling) {
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.socialIcons {
		display: inline-block;
		visibility: visible;
		float: right;
		@include rem-fallback(margin-top, 0.7rem);

		@include bp(sapling) {
			display: block;
			float: none;
		}
	}
}

//----------Styles for Fixed Header

.fixedHeader {
	@extend .siteHeader;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin: 0 auto;
		.menuToggle {
			position: static;
			float: right;
			@include rem-fallback(margin, 0, 1rem, 0, 0);
		}

		@include bp(sapling) {
			.mainNav {
				clear: both;
			}

			.socialIcons {
				display: none;
			}
		}

}

.isFixed {
	padding-top: 57px;
}