//----------Styles for Sidebar Content

.sidebar {
	@include rem-fallback(padding-left, 1.2rem);
}

.search {
	@include rem-fallback(margin, 0, 0, 1rem, 0);

	input {
		width: 90%;
		background: $brandPurple url('../img/searchIcon.png') no-repeat 100% 4px;
		@include rem-fallback(padding-right, 1.4rem);
	}

	@include bp(sapling) {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
}

.instagram,
.pickWeek {
	position: relative;
	@include displayFont;
	@include rem-fallback(font-size, 0.8rem);

	&:after {
		width: 100%;
		@include rem-fallback(padding, 0.2rem, 0);
		position: absolute;
		@include rem-fallback(bottom, 1.5rem);
		left: 0;
		background-color: $brandPurple;
		opacity: 0.8;
		text-align: center;
		color: white;
		z-index: 2;

	}
}

.instagram {
	@include rem-fallback(margin-bottom, 1.5rem);
	@include bp(sapling) {
		max-width: 70%;
		margin: 0 auto;
		clear: both;
	}

	//---Change to media query names when made

	@media screen and (min-width: 1001px) {
		min-height: 280px;
	}

	 &:after {
	 	content: "9to5Chic on Instagram";
	 }
}

.pickWeek {
	@include bp(sapling) {
		max-width: 70%;
		@include rem-fallback(margin, 2rem, 0);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	&:after {
		content: "Weekly Craving";
	}
}