//----------Styles for non-fixed Search and Social Section

.searchSocial {
	@include rem-fallback(padding, 1rem, 2rem);
}

.socialIcons {
	float: right;
	text-align: center;
	font-size: 1.4rem;
	color: $darkGrey;

	a {
		display: inline-block;
		@include rem-fallback(margin-right, 0.5rem);
		@include transition(color 0.3s ease);

		&:hover {
			color: $brandPurple;
		}
	}

	.currentSelection {
		@include rem-fallback(font-size, 1rem);
		display: inline-block;
		@include rem-fallback(width, 6.25rem);
	}
}

	.followEmail {
		float: left;

		@include bp(sapling) {
			margin: 32px auto 16px auto;
			margin: 2rem auto 1rem auto;
			text-align: center;
		}
	}
//----------Rotator Styles

.rotator {
	text-align: center;
	color: white;
	@media screen and (min-width: 1001px) {
		min-height: 280px;
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	@include transition(opacity 0.3s ease);
	@include displayFont;

	&:hover {
		opacity: 1;
	}
}

.overlayContent {
	width: 50%;
	margin: 5% auto 0 auto;

		h2 {
		@include rem-fallback(font-size, 3.5rem);
		margin: 0;
		@include bp(sapling) {
			@include rem-fallback(margin, 0, 0, 1.5rem, 0);
		}
		@include bp(childhood) {
			@include rem-fallback(font-size, 2rem);
		}
		@include bp(seedling) {
			@include rem-fallback(font-size, 1.5rem);
			@include rem-fallback(margin-bottom, 0.8rem);
		}
	}

	p {
		@include rem-fallback(margin-bottom, 2.5rem);
		@include rem-fallback(font-size, 0.9rem);
		@include bp(sapling) {
			display: none;
		}
	}

	a {
		@include rem-fallback(padding, 0.8rem, 4.5rem);

		@include bp(childhood) {
			@include rem-fallback(padding, 0.8rem, 1rem);
			@include rem-fallback(font-size, 0.8rem);
		}

		@include bp(seedling) {
			@include rem-fallback(font-size, 0.7);
			@include rem-fallback(padding, 0.5);
		}
	}
}

//----------Styles for Header Ad

.headerAd {
	width: 70%;
	margin: 0 auto;
	@include rem-fallback(padding, 1.9rem, 0);

	@include bp(sapling) {
		width: 95%;
	}
}