.aboutContain {
	@include rem-fallback(max-width, 50rem);
	margin: 0 auto;
	@include rem-fallback(padding, 1rem, 1rem, 4rem, 1rem);
}

.aboutImg {
	float: left;
	width: 33%;
	@include rem-fallback(padding-right, 1rem);
}

.aboutHeader {
	@include rem-fallback(margin, 0, 0, 1.5rem, 0);
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

.aboutText {
	@include rem-fallback(margin-bottom, 3rem);
	float: left;
	width: 66%;
}

.aboutText,
.aboutImg {
	@include bp(seedling) {
		float: none;
		width: 100%;
	}
}

//----------Styles for Links Grid

.linkGrid {
	width: 100%;
	@include clearfix;


	.linkModule {
		width: 25%;
		float: left;
		@include rem-fallback(padding-right, 0.5rem);
		@include rem-fallback(margin-bottom, 3rem);

		@include bp(childhood) {
			width: 50%;
		}
	}

	.text {
		margin-bottom: 0;
		width: 50% !important;
		@include bp(seedling) {
			width: 100% !important;
		}
		padding-left: 1rem;
	}


	.text a {
		@include rem-fallback(font-size, 0.8rem);
		@include displayFont;
	}
}