embed {
	max-width: 100%;
}

//----------Sidebar Ad

.sidebar embed {
	@include bp(sapling) {
		display: block;
		margin: 0 auto;
	}
}

.aolAd {
	text-align: center;
	@include rem-fallback(margin-bottom, 1.5rem);
}

.userAd {
	text-align: center;
	@include rem-fallback(margin-bottom, 1.5rem);
}

//----------Styles for Header Ad

.headerAd {
	width: 70%;
	margin: 0 auto;
	@include rem-fallback(padding, 2.3rem, 0, 0, 0);

	@include bp(sapling) {
		width: 95%;
	}

	@include bp(childhood) {
		display: none;
	}

	body:not(.home) & {
		@include rem-fallback(padding, 1.9rem, 0, 0, 0);
	}
}