//----------Styles for Blog Posts

article {
	@include rem-fallback(margin-bottom, 3rem);
	@include clearfix;

	&:after {
		content: "";
		width: 90%;
		margin: 20px auto 0 auto;
		margin: 3rem auto 0 auto;
		border-bottom: 1px solid #a9aec1;
	}

	&:last-of-type:after {
		border: none;
	}

	&:last-of-type {
		@include rem-fallback(margin-bottom, 1rem);
	}

	img:last-of-type {
		@include rem-fallback(margin-bottom, 1.5rem);
	}

}

.posts {
	@include bodyFont;

	a {
		color: $brandPurple;
		@include transition(color 0.2s ease-in-out);

		&:hover {
			color: lighten($brandPurple, 15%);
		}
	}
}

.date {
	@include displayFont;
	margin-bottom: 0;
	color: $grey;
	@include rem-fallback(font-size, 0.6rem);
}

.postTitle {
	color: $brandPurple;
	@include headerFont;
	margin-top: 0;
}

.postContent {
	@include rem-fallback(padding-left, 1rem);
	@include rem-fallback(font-size, 0.875rem);
	text-align: center;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	word-wrap: normal;
}

.singlePost {

	.postTitle {
		@include bp(seedling) {
			@include rem-fallback(font-size, 1.5rem);
		}
	}
	.posts {
			@include rem-fallback(padding-left, 0.5rem);
		}
}

//----------Comments Info Styles

.commentsInfo {
	@include displayFont;
	@include rem-fallback(margin-top, 1.7rem);
	float: left;
	text-align: left;
	@include rem-fallback(font-size, 0.7rem);
}

//----------Categories Links Styles
.categoriesLinks {
	@include displayFont;
	@include rem-fallback(font-size, 0.6rem);
	clear: both;
	text-align: left;
	@include rem-fallback(margin, 0.5rem, 0);

	a {
		color: #A4A9BD;
	}
}


//----------Search/Category Styles

.searchPage {
	@include rem-fallback(padding, 1rem);
}

.searchResult {
	border-bottom: 2px solid $brandPurple;

	&:last-of-type {
		border: none;
	}

	h2 {
		margin-bottom: 0;
	}

	.date {
		@include rem-fallback(margin-bottom, 0.5rem);
	}
}

//----------Daily Reads

.linksGrid {

	@include rem-fallback(max-width, 50rem);
	margin: 0 auto;

	.letterGroup {
		width: 25%;
		float: left;
		text-align: center;

		a {
			display: block;
		}

		@include bp(sapling) {
			width: 100%;
			@include rem-fallback(margin-top, 1rem);
		}
	}
}

.page-template-daily-reads-php .mainContent {
	@include rem-fallback(padding-bottom, 4rem);
}

//----------Pagination

.pagination {

	@include clearfix;

		&:before {
		content: "";
		width: 90%;
		margin: 0 auto 16px auto;
		margin: 0 auto 1rem auto;
		border-top: 1px solid #a9aec1;
	}
}

.nav-previous {
	float: right;
}

.nav-next {
	float: left;
}

//----------Share Buttons

.socialShare {
	@include rem-fallback(margin-top, 1.3rem);
	@include rem-fallback(font-size, 1.1rem);
	@include displayFont;
	float: right;

	@include bp(childhood) {
		float: none;
	}
	p {
		display: inline-block;
		@include rem-fallback(margin-right, 1rem);
		@include rem-fallback(font-size, 0.7rem);
	}
	a {
		display: inline-block;
		@include rem-fallback(margin-right, 0.5rem);
	}
}