//----------Variables
$lineHeight: 1.5;

$brandPurple: #6B4866;
$inputPurple: #96668C;
$headerPurple: #be95bb;
$grey: #A4A9BD;
$darkGrey: #696A6C;

//----------REM Fallback mixin
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

//----------Media Query Mixins
@mixin bp($point) {

  @if $point == tree {
    @media (max-width: 960px) and (min-width: 781px) { @content; }
  }

    @else if $point == hover {
      @media (min-width: 781px) { @content; }
    }  

    @else if $point == sapling {
      @media (max-width: 780px) { @content; }
    }
    @else if $point == childhood {
      @media (max-width: 620px) { @content; }
    }
    @else if $point == seedling {
      @media (max-width: 440px) { @content; }
    }
}

//----------Animations
.slideInDown {
  top: 0;
}

.slideOutUp {
  top: -60px;
  @include bp(sapling) {
    top: -120px;
  }
}
