//----------Styles for Comments

.commentsArea {
	@include bodyFont;
	@include rem-fallback(font-size, 0.9rem);

	ol, ol ul {
		list-style: none;
	}

	#submit {
		@extend .styledSubmit;
	}

	input {
		margin-right: 16px;
		@include rem-fallback(max-width, 26rem);
	}

	#comment, input {
		border: 1px solid $grey;
		@include transition(border 0.2s ease-in-out);
		@include transition(box-shadow 0.2s ease-in-out);
		&:focus {
			outline: none;
			border: 1px solid $brandPurple;
			box-shadow: 0 0 2px 0 $brandPurple;
		}
	}

	#comment {
			width: 90%;
		}

	.comment {
		@include rem-fallback(margin-top, 1.625rem);
	}

	.comment-author {
		display: inline-block;
		@include rem-fallback(margin-right, 0.625rem);
	}

	.comment-meta {
		display: inline-block;
	}

	.comment-body {
		word-wrap: break-word;
	}

	.comment-body > p,
	.reply {
		@include rem-fallback(margin-left, 2.9rem);
	}

	h3 {
		@include rem-fallback(font-size, 1rem);
	}

	.avatar {
		@include rem-fallback(margin-right, 0.625rem);
	}

	cite.fn {
		font-style: normal;
		font-weight: bold;
	}

	.says {
		display: none;
	}

	.reply {
		@include rem-fallback(margin-top, -0.625rem);
	}

	input[name="url"], label[for="url"] {
		display: none;
	}
}

#respond {
	@include rem-fallback(margin-top, 3rem);
}