//----------Styles for forms and inputs

input {
	text-transform: uppercase;
	@include rem-fallback(font-size, 0.6rem);
}

.styledInput {
	@include rem-fallback(padding, 0.3rem, 0.5rem);
	width: 70%;
	background-color: $inputPurple;
	border: 1px solid #865779;
	color: white;
}

.styledSubmit {
	@extend .styledInput;
	background-color: #BE95BB;
	border: #BE95BB;
	width: auto;
	@include transition(background-color 0.2s ease);

	&:hover {
		background-color: $inputPurple;
		border-color: $inputPurple;
	}
}