//----------Styles for Non-fixed header state

.headerArea {
	background: url("../img/headerBG.png") no-repeat top center;

	@include bp(sapling) {
		background-size: contain;

		> .socialIcons {
			display: block;
			visibility: visible;
			float: none;
			@include rem-fallback(padding, 1rem, 0);
			border-bottom: 6px solid $brandPurple;
		}
	}

	.logo {
		max-width: 592px;
		@include rem-fallback(margin, 1.2rem, 0);
		margin-left: auto; margin-right: auto;

		@include bp(sapling) {
			margin: 0 auto;
			@include rem-fallback(padding, 2rem, 0, 0, 0);
			max-width: 55%;
		}

		@include bp(seedling) {
			@include rem-fallback(padding, 2rem, 1rem, 0);
		}

		img {
			width: 100%;
		}
	}
}

//----------Gobal Header Styles
.homeHeader,
.siteHeader {
	@include displayFont;
	@include rem-fallback(font-size, 0.8rem);

	.menuToggle {
		@include rem-fallback(font-size, 2.5rem);
		float: left;
		margin: 16px -32px 0 32px;
		margin: 1rem -2rem 0 2rem;
		color: $brandPurple;

		@include bp(seedling) {
			@include rem-fallback(font-size, 1.5rem);
			margin-left: 16px;
			margin-left: 1rem;
		}
	}
}
	.menuToggle {
		display: none;

		@include bp(sapling) {
			display: inline-block;
		}
	}


.mainNav {
	@include clearfix;

	@include bp(sapling) {
		display: none;
	}
	
	ul {
		@include rem-fallback(width, 35rem);
		margin: 0 auto;
		padding: 0;
		list-style: none;
		@include clearfix;

		@include bp(sapling) {
			width: 100%;
		}
	}

	li {
		float: left;
		@include bp(sapling) {
			width: 100%;
			background-color: $headerPurple;
			border-bottom: 1px solid white;

			&:last-of-type {
				border: none;
			}

			a {
				color: white;
			}
		}
		text-align: center;
		@include transition(background-color 0.3s ease);

		&:hover {
			background-color: $headerPurple;
				>a {
					color: white;
				}
		}
	}

		a {
			display: block;
			color: #696A6C;
			@include transition(color 0.3s ease);
			@include rem-fallback(padding, 1rem);
	}

	.contact {
		position: relative;

			@include bp(hover) {
				&:hover > .emailBlock {
				opacity: 1;
				left: 0;
				}
			}

			> a {
					position: relative;
				}

		}
		//--Triangle after contact on small screens
		.hidden,
		.showing {
			> a {
				@include bp(sapling) {
					&:after {
						content: "";
						position: absolute;
						top: 23px;
						@include rem-fallback(margin-left, 0.375rem);
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;	
					}
				}
			}
		}

		.hidden > a {
			@include bp(sapling) {
				&:after {
					border-top: 6px solid white;
				}
			}
		}

		.showing > a {
			@include bp(sapling) {
				&:after {
					border-bottom: 6px solid white;
				}
			}
		}

		.emailBlock {

			@include bp(hover) {
				@include rem-fallback(width, 14rem);
				@include rem-fallback(bottom, -7.2rem);
				left: -9999px;
				position: absolute;
				opacity: 0;
				@include transition(opacity 0.3s ease);
			}
			
			@include rem-fallback(padding, 2rem, 0);
			z-index: 3;
			background-color: $headerPurple;

			@include bp(sapling) {
				width: 100%;
				display: none;
				@include rem-fallback(padding, 0, 0, 1rem, 0);
			}

			p {
				margin: 0;
			}

			a {
				color: white;
			}
		}
	}


//------------Home Page Header Styles

.homeHeader {
	border-top: 6px solid $brandPurple;

	@include bp(sapling) {
		border-top: none;
		border-bottom: 6px solid $brandPurple;
	}

	.mainNav {
		background: rgba(255,255,255, 0.6);

		ul {
		@media screen and (min-width: 781px) {
		@include rem-fallback(width, 29rem);
		}
	}
	}

	.menuToggle {
			@include rem-fallback(font-size, 2.5rem);
			@include rem-fallback(margin, 0, 0, 1.25rem, 1rem);
			margin-bottom: 0;
			width: 0;


			@include bp(seedling) {
				@include rem-fallback(font-size, 1.5rem);
			}
		}

	.headerLogo {
		display: none;
		visibility: hidden;
	}

	.socialIcons {
		display: none;
		visibility: hidden;

		@include bp(sapling) {
			display: block;
			float: none;
			visibility: visible;
			@include rem-fallback(padding-bottom, 0.5rem);
		}
	}


}

//----------Standard Header Styles

.siteHeader {
	@extend .homeHeader;

	@include bp(sapling) {
		border-bottom: 6px solid $brandPurple;

		.socialIcons {
			display: block;
			visibility: visible;
			float: none;
		}

		.menuToggle {
			@include rem-fallback(margin-top, -0.625rem);
		}
	}

	@include bp(seedling) {
		.menuToggle {
			margin-top: 0;
		}
	}
}

//----------Styles for Fixed Header

.fixedHeader{
	border-top: none;
	border-bottom: 6px solid $brandPurple;
	background-color: white;
	@include transition(top 0.2s ease);

	.menuToggle {
		margin-top: 0;
	}

	.logoBig {
		display: none;
		max-width: 55%;
		margin: 0 auto;
		@include rem-fallback(padding, 1rem);
	}

	@include bp(tree) {
		@include rem-fallback(font-size, 0.7rem);

		.mainNav ul {
				width: 42%;
				@media screen and (max-width: 850px) {
					width: 50%;
				}
				margin: 0 auto;

				a {
					@include rem-fallback(padding, 1rem, 0.3125rem);
				}
		}
	}

	@include bp(sapling) {
			.logoSm {
				display: none;
			}

			.logoBig {
				display: block;
			}
		}

	.container {
		@include rem-fallback(padding, 0, 0.8rem);

		@include bp(sapling) {
			padding: 0;
		}
	}
	
	.headerLogo {
		display: inline-block;
		visibility: visible;
		float: left;
		@include rem-fallback(margin, 0.7rem, 0);

		@include bp(sapling) {
			display: block;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.socialIcons {
		display: inline-block;
		visibility: visible;
		float: right;
		@include rem-fallback(margin-top, 0.7rem);
			@include rem-fallback(margin-right, -2rem);

		@include bp(seedling) {
			@include rem-fallback(padding, 0, 0, 0.8rem, 0);
			margin-right: 0;
		}

		@include bp(sapling) {
			display: block;
			float: none;
			margin-top: 0;
		}

		.currentSelection {
				text-align: left;
			}
	}
}

.fixedHeader {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
	margin: 0 auto;

		@include bp(sapling) {
			.mainNav {
				clear: both;
			}
		}
}

.admin-bar .fixedHeader { //Account for WP admin bar
	margin-top: 30px;
}

.isFixed {
	padding-top: 57px;
}

//---------- Active States for menu items

.page-template-about-php .about {
	background-color: $headerPurple;

	a {
		color: white;
	}
}

.page-template-wearing-lately-php .wearingLately {
	background-color: $headerPurple;

	a {
		color: white;
	}
}

.page-template-daily-reads-php .dailyReads {
	background-color: $headerPurple;

	a {
		color: white;
	}
}