//----------Styles for Sidebar Content

.sidebar {
	@include rem-fallback(padding-left, 1.2rem);
	@include bp(seedling) {
		padding-left: 0;
	}
	padding-right: 0;
}

.home .sidebar {
	@include rem-fallback(margin-top, 1.5rem);
}

.singlePost .sidebar {
	@include rem-fallback(margin-top, 2.5rem);
}

.page .sidebar {
	@include rem-fallback(margin-top, 1.5rem);
}

.searchForm {
	@include rem-fallback(margin, 0, 0, 1rem, 0);
	@include displayFont;

	@include bp(seedling) {
			width: 100%;
		}

	input {
		width: 90%;
		background: $brandPurple url('../img/searchIcon.png') no-repeat 100% 4px;
		@include rem-fallback(padding-right, 1.4rem);

		@include bp(seedling) {
			width: 77%;
		}
	}

	@include bp(sapling) {
		display: block;
		width: 80%;
		margin: 16px auto;
		margin: 1rem auto;
	}
}

.instagram,
.pickWeek {
	position: relative;
	@include displayFont;
	@include rem-fallback(font-size, 0.8rem);
	@include bp(seedling) {
		@include rem-fallback(font-size, 0.6rem);
	}
	@include rem-fallback(margin-bottom, 1.5rem);

	&:after {
		width: 100%;
		@include rem-fallback(padding, 0.2rem, 0);
		position: absolute;
		@include rem-fallback(bottom, 1.5rem);
		left: 0;
		background-color: rgb(255, 255, 255);
		background-color: rgba(255, 255, 255, 0.7);
		opacity: 0.8;
		text-align: center;
		color: #876b83;
		z-index: 3;

	}
}

.instagram {
	@include bp(sapling) {
		max-width: 70%;
		margin: 0 auto;
		clear: both;
	}

	@include bp(seedling) {
		max-width: 100%;
	}

	//---Change to media query names when made

	@media screen and (min-width: 1001px) {
		min-height: 280px;
	}

	 &:after {
	 	content: "9to5Chic on Instagram";
	 }
}

.pickWeek {
	@include bp(sapling) {
		max-width: 70%;
		@include rem-fallback(margin, 2rem, 0);
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	@include bp(seedling) {
		max-width: 100%;
	}
	&:after {
		content: "Weekly Craving";
	}
}