body {
	text-rendering: optimizeLegibility;
}

body,
input,
button {	
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 100%;
	line-height: $lineHeight;
}

//----------Font Declarations

@mixin bodyFont() {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

@mixin displayFont() {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
@mixin headerFont() {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
.icon-pinterest:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-plus-sign:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e605";
}
.icon-close:before {
	content: "\e606";
}
.icon-google:before {
	content: "\e607";
}

//----------Placeholder Styles
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

//----------Heading Sizes

h1, .h1 {
	@include rem-fallback(font-size, 2rem);
}

h2, .h2 {
	@include rem-fallback(font-size, 1.5rem);
}

h3, .h3 {
	@include rem-fallback(font-size, 1.17rem);
}

h4, .h4 {
	@include rem-fallback(font-size, 1rem);
}

h5, .h5 {
	@include rem-fallback(font-size, 0.83rem);
}

h6, .h6 {
	@include rem-fallback(font-size, 0.75rem);
}

//----------Paragraphs

p {
	line-height: $lineHeight;
	@include rem-fallback(margin, 0, 0, 1rem);
}

//----------Links

a {
	text-decoration: none;
}