//----------Styles for non-fixed Search and Social Section

.searchSocial {
	@include rem-fallback(padding, 1rem, 2rem);
}

.socialIcons {
	float: right;
	text-align: center;
	font-size: 1.4rem;
	@include displayFont;
	color: $darkGrey;

	@include bp(seedling) {
			@include rem-fallback(font-size, 1.2rem);
		}

	a {
		display: inline-block;
		@include rem-fallback(margin-right, 0.5rem);
		@include transition(color 0.3s ease);

		&:hover {
			color: $brandPurple;
		}
	}

	.currentSelection {
		@include displayFont;
		@include rem-fallback(font-size, 0.7rem);
		display: inline-block;
		@include rem-fallback(width, 6.25rem);
		vertical-align: top;
		padding-top: 9px;

		@include bp(seedling) {
			display: none;
		}
	}
}

	.followEmail {
		float: left;
		@include displayFont;

		@include bp(sapling) {
			margin: 32px auto 16px auto;
			margin: 2rem auto 1rem auto;
			padding: 0;
			text-align: center;
		}
	}
//----------Rotator Styles

.rotator {
	text-align: center;
	color: white;
	@media screen and (min-width: 1001px) {
		min-height: 280px;
	}
	.really_simple_share { display: none; }

}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	background-color: rgba(0,0,0,0.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 opacity: 0;
	@include transition(opacity 0.3s ease);
	@include displayFont;

	&:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		opacity: 1;
	}
}

.overlayContent {
	width: 95%;
	margin: 5% auto 0 auto;

	.category {
		margin: 0;
	}

		h2 {
		@include rem-fallback(font-size, 2.8rem);
		margin: 0;
		@include bp(sapling) {
			@include rem-fallback(margin, 0, 0, 1.5rem, 0);
		}
		@include bp(childhood) {
			@include rem-fallback(font-size, 2rem);
		}
		@include bp(seedling) {
			@include rem-fallback(font-size, 1.5rem);
			@include rem-fallback(margin-bottom, 0.8rem);
		}
	}

	p {
		@include rem-fallback(margin-bottom, 2.5rem);
		@include rem-fallback(font-size, 0.9rem);
		@include bp(sapling) {
			display: none;
		}
	}

	a {
		@include rem-fallback(padding, 0.8rem, 4.5rem);

		@include bp(childhood) {
			@include rem-fallback(padding, 0.8rem, 1rem);
			@include rem-fallback(font-size, 0.8rem);
		}

		@include bp(seedling) {
			@include rem-fallback(font-size, 0.7);
			@include rem-fallback(padding, 0.5);
		}
	}
}