@import "bourbon";
@import "normalize";
@import "flexslider";
@import "bits";
@import "typography";
@import "grid";
@import "form";
@import "header";
@import "upperSection";
@import "articles";
@import "sidebar";
@import "footer";
@import "about";
@import "ads";
@import "comments";

* {
	@include box-sizing(border-box);
}

img {
	max-width: 100%;
	height: auto !important;
}

a {
	color: inherit;
}