/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:focus,
input:focus {
  outline: none; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 118px;
  margin: -50px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  display: inline-block;
  content: url("../img/controlLeft.png"); }

.flex-direction-nav a.flex-next:before {
  content: url("../img/controlRight.png"); }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
@media screen and (max-width: 700px) {
  .flex-direction-nav .flex-prev {
    display: none; }

  .flex-direction-nav .flex-next {
    display: none; } }
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes slideInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }

  100% {
    -moz-transform: translateY(0); } }

@-o-keyframes slideInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px); }

  100% {
    -o-transform: translateY(0); } }

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  100% {
    transform: translateY(0); } }

.slideInDown {
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -o-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); } }

@-moz-keyframes slideOutUp {
  0% {
    -moz-transform: translateY(0); }

  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px); } }

@-o-keyframes slideOutUp {
  0% {
    -o-transform: translateY(0); }

  100% {
    opacity: 0;
    -o-transform: translateY(-2000px); } }

@keyframes slideOutUp {
  0% {
    transform: translateY(0); }

  100% {
    opacity: 0;
    transform: translateY(-2000px); } }

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  -moz-animation-name: slideOutUp;
  -o-animation-name: slideOutUp;
  animation-name: slideOutUp; }

body {
  text-rendering: optimizeLegibility; }

body,
input,
button {
  -webkit-font-smoothing: antialiased; }

html {
  font-size: 100%;
  line-height: 1.5; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e600"; }

.icon-pinterest:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-facebook:before {
  content: "\e603"; }

.icon-plus-sign:before {
  content: "\e604"; }

.icon-menu:before {
  content: "\e605"; }

.icon-close:before {
  content: "\e606"; }

::-webkit-input-placeholder {
  color: white; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

:-ms-input-placeholder {
  color: white; }

h1, .h1 {
  font-size: 32px;
  font-size: 2rem; }

h2, .h2 {
  font-size: 24px;
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 18.72px;
  font-size: 1.17rem; }

h4, .h4 {
  font-size: 16px;
  font-size: 1rem; }

h5, .h5 {
  font-size: 13.28px;
  font-size: 0.83rem; }

h6, .h6 {
  font-size: 12px;
  font-size: 0.75rem; }

p {
  line-height: 1.5;
  margin: 0px 0px 16px;
  margin: 0rem 0rem 1rem; }

p {
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

a {
  text-decoration: none; }

.container {
  max-width: 1000px;
  max-width: 62.5rem;
  margin: 0 auto; }

[class*='col-'] {
  float: left;
  padding-right: 22.4px;
  padding-right: 1.4rem; }
  @media (max-width: 780px) {
    [class*='col-'] {
      float: none; } }

.grid {
  padding: 20px;
  padding: 1.25rem;
  *zoom: 1; }
  .grid:before, .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }

.nopad {
  padding: 0; }

.col-1-3 {
  width: 33%; }
  @media (max-width: 780px) {
    .col-1-3 {
      width: 100%; } }

.col-2-3 {
  width: 66%; }
  @media (max-width: 780px) {
    .col-2-3 {
      width: 100%; } }

input {
  text-transform: uppercase;
  font-size: 9.6px;
  font-size: 0.6rem; }

.styledInput, .styledSubmit {
  padding: 4.8px 8px;
  padding: 0.3rem 0.5rem;
  width: 70%;
  background-color: #96668c;
  border: 1px solid #865779;
  color: white; }

.styledSubmit {
  background-color: #BE95BB;
  border: #BE95BB;
  width: auto;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }
  .styledSubmit:hover {
    background-color: #96668c;
    border-color: #96668c; }

.headerArea {
  background: url("../img/headerBG.png") no-repeat top center; }
  @media (max-width: 780px) {
    .headerArea {
      background-size: contain; }
      .headerArea > .socialIcons {
        display: block;
        visibility: visible;
        float: none;
        padding: 16px 0px;
        padding: 1rem 0rem;
        border-bottom: 6px solid #6b4866; } }
  .headerArea .logo {
    max-width: 592px;
    margin: 19.2px 0px;
    margin: 1.2rem 0rem;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 780px) {
      .headerArea .logo {
        margin: 0 auto;
        padding: 32px 0px 0px 0px;
        padding: 2rem 0rem 0rem 0rem;
        max-width: 55%; } }
    @media (max-width: 440px) {
      .headerArea .logo {
        padding: 32px 16px 0px;
        padding: 2rem 1rem 0rem; } }

.homeHeader,
.siteHeader,
.fixedHeader {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12.8px;
  font-size: 0.8rem; }
  .homeHeader .menuToggle,
  .siteHeader .menuToggle,
  .fixedHeader .menuToggle {
    font-size: 40px;
    font-size: 2.5rem;
    float: right;
    margin: 7% 2rem 0 0;
    color: #6b4866; }
    @media (max-width: 440px) {
      .homeHeader .menuToggle,
      .siteHeader .menuToggle,
      .fixedHeader .menuToggle {
        font-size: 24px;
        font-size: 1.5rem;
        margin-top: 8%; } }

.menuToggle {
  display: none; }
  @media (max-width: 780px) {
    .menuToggle {
      display: inline-block; } }

.mainNav {
  *zoom: 1; }
  .mainNav:before, .mainNav:after {
    content: " ";
    display: table; }
  .mainNav:after {
    clear: both; }
  @media (max-width: 780px) {
    .mainNav {
      display: none; } }
  .mainNav ul {
    width: 608px;
    width: 38rem;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    *zoom: 1; }
    .mainNav ul:before, .mainNav ul:after {
      content: " ";
      display: table; }
    .mainNav ul:after {
      clear: both; }
    @media (max-width: 780px) {
      .mainNav ul {
        width: 100%; } }
  .mainNav li {
    float: left;
    width: 25%;
    text-align: center;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    @media (max-width: 780px) {
      .mainNav li {
        width: 100%;
        background-color: #6b4866;
        border-bottom: 1px solid white; }
        .mainNav li:last-of-type {
          border: none; }
        .mainNav li a {
          color: white; } }
    .mainNav li:hover {
      background-color: #6b4866; }
      .mainNav li:hover > a {
        color: white; }
  .mainNav a {
    display: block;
    color: black;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
    padding: 16px;
    padding: 1rem; }
  .mainNav .contact {
    position: relative; }
    @media (min-width: 781px) {
      .mainNav .contact:hover .emailBlock {
        opacity: 1; } }
    .mainNav .contact > a {
      position: relative; }
  @media (max-width: 780px) {
    .mainNav .hidden > a:after,
    .mainNav .showing > a:after {
      content: "";
      position: absolute;
      top: 23px;
      margin-left: 6px;
      margin-left: 0.375rem;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent; } }
  @media (max-width: 780px) {
    .mainNav .hidden > a:after {
      border-top: 6px solid white; } }
  @media (max-width: 780px) {
    .mainNav .showing > a:after {
      border-bottom: 6px solid white; } }
  .mainNav .emailBlock {
    padding: 32px 0px;
    padding: 2rem 0rem;
    z-index: 3;
    background-color: #6b4866; }
    @media (min-width: 781px) {
      .mainNav .emailBlock {
        width: 224px;
        width: 14rem;
        bottom: -115.2px;
        bottom: -7.2rem;
        left: 0;
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; } }
    @media (max-width: 780px) {
      .mainNav .emailBlock {
        width: 100%;
        display: none;
        padding: 0px 0px 16px 0px;
        padding: 0rem 0rem 1rem 0rem; } }
    .mainNav .emailBlock p {
      margin: 0; }
    .mainNav .emailBlock a {
      color: #D2C2CC; }

.homeHeader {
  border-top: 6px solid #6b4866; }
  @media (max-width: 780px) {
    .homeHeader {
      border: none; } }
  .homeHeader .mainNav {
    background: rgba(255, 255, 255, 0.6); }
  .homeHeader .menuToggle {
    font-size: 40px;
    font-size: 2.5rem;
    position: absolute;
    right: 3%;
    top: 3%; }
    @media (max-width: 440px) {
      .homeHeader .menuToggle {
        font-size: 24px;
        font-size: 1.5rem;
        top: 2.5%;
        right: 2%; } }
  .homeHeader .headerLogo {
    display: none;
    visibility: hidden; }
  .homeHeader .socialIcons {
    display: none;
    visibility: hidden; }

.siteHeader, .fixedHeader {
  border-top: none;
  border-bottom: 6px solid #6b4866;
  background-color: white; }
  .siteHeader .logoBig, .fixedHeader .logoBig {
    display: none;
    max-width: 55%;
    margin: 0 auto;
    padding: 16px;
    padding: 1rem; }
  @media (max-width: 930px) and (min-width: 781px) {
    .siteHeader, .fixedHeader {
      font-size: 11.2px;
      font-size: 0.7rem; }
      .siteHeader .mainNav ul, .fixedHeader .mainNav ul {
        width: 60%;
        margin: 0 auto; }
        .siteHeader .mainNav ul a, .fixedHeader .mainNav ul a {
          padding: 16px 5px;
          padding: 1rem 0.3125rem; } }
  @media (max-width: 780px) {
    .siteHeader .logoSm, .fixedHeader .logoSm {
      display: none; }
    .siteHeader .logoBig, .fixedHeader .logoBig {
      display: block; } }
  .siteHeader .container, .fixedHeader .container {
    padding: 0px 12.8px;
    padding: 0rem 0.8rem; }
    @media (max-width: 780px) {
      .siteHeader .container, .fixedHeader .container {
        padding: 0; } }
  .siteHeader .headerLogo, .fixedHeader .headerLogo {
    display: inline-block;
    visibility: visible;
    float: left;
    margin-top: 11.2px;
    margin-top: 0.7rem; }
    @media (max-width: 780px) {
      .siteHeader .headerLogo, .fixedHeader .headerLogo {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto; } }
  .siteHeader .socialIcons, .fixedHeader .socialIcons {
    display: inline-block;
    visibility: visible;
    float: right;
    margin-top: 11.2px;
    margin-top: 0.7rem; }
    @media (max-width: 780px) {
      .siteHeader .socialIcons, .fixedHeader .socialIcons {
        display: block;
        float: none; } }

.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto; }
  .fixedHeader .menuToggle {
    position: static;
    float: right;
    margin: 0px 16px 0px 0px;
    margin: 0rem 1rem 0rem 0rem; }
  @media (max-width: 780px) {
    .fixedHeader .mainNav {
      clear: both; }
    .fixedHeader .socialIcons {
      display: none; } }

.isFixed {
  padding-top: 57px; }

.searchSocial {
  padding: 16px 32px;
  padding: 1rem 2rem; }

.socialIcons {
  float: right;
  text-align: center;
  font-size: 1.4rem;
  color: #696a6c; }
  .socialIcons a {
    display: inline-block;
    margin-right: 8px;
    margin-right: 0.5rem;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .socialIcons a:hover {
      color: #6b4866; }
  .socialIcons .currentSelection {
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
    width: 100px;
    width: 6.25rem; }

.followEmail {
  float: left; }
  @media (max-width: 780px) {
    .followEmail {
      margin: 32px auto 16px auto;
      margin: 2rem auto 1rem auto;
      text-align: center; } }

.rotator {
  text-align: center;
  color: white; }
  @media screen and (min-width: 1001px) {
    .rotator {
      min-height: 280px; } }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }
  .overlay:hover {
    opacity: 1; }

.overlayContent {
  width: 50%;
  margin: 5% auto 0 auto; }
  .overlayContent h2 {
    font-size: 56px;
    font-size: 3.5rem;
    margin: 0; }
    @media (max-width: 780px) {
      .overlayContent h2 {
        margin: 0px 0px 24px 0px;
        margin: 0rem 0rem 1.5rem 0rem; } }
    @media (max-width: 620px) {
      .overlayContent h2 {
        font-size: 32px;
        font-size: 2rem; } }
    @media (max-width: 440px) {
      .overlayContent h2 {
        font-size: 24px;
        font-size: 1.5rem;
        margin-bottom: 12.8px;
        margin-bottom: 0.8rem; } }
  .overlayContent p {
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
    font-size: 14.4px;
    font-size: 0.9rem; }
    @media (max-width: 780px) {
      .overlayContent p {
        display: none; } }
  .overlayContent a {
    padding: 12.8px 72px;
    padding: 0.8rem 4.5rem; }
    @media (max-width: 620px) {
      .overlayContent a {
        padding: 12.8px 16px;
        padding: 0.8rem 1rem;
        font-size: 12.8px;
        font-size: 0.8rem; } }
    @media (max-width: 440px) {
      .overlayContent a {
        font-size: 11.2px;
        font-size: 0.7rem;
        padding: 8px;
        padding: 0.5rem; } }

.headerAd {
  width: 70%;
  margin: 0 auto;
  padding: 30.4px 0px;
  padding: 1.9rem 0rem; }
  @media (max-width: 780px) {
    .headerAd {
      width: 95%; } }

article {
  margin-bottom: 32px;
  margin-bottom: 2rem; }

.posts {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }

.date {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #a4a9bd;
  font-size: 12.8px;
  font-size: 0.8rem; }

.postTitle {
  color: #6b4866; }

.postContent {
  padding-left: 16px;
  padding-left: 1rem; }

.shareButton {
  float: right; }

.sidebar {
  padding-left: 19.2px;
  padding-left: 1.2rem; }

.search {
  margin: 0px 0px 16px 0px;
  margin: 0rem 0rem 1rem 0rem; }
  .search input {
    width: 90%;
    background: #6b4866 url("../img/searchIcon.png") no-repeat 100% 4px;
    padding-right: 22.4px;
    padding-right: 1.4rem; }
  @media (max-width: 780px) {
    .search {
      display: block;
      width: 60%;
      margin: 0 auto; } }

.instagram,
.pickWeek {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12.8px;
  font-size: 0.8rem; }
  .instagram:after,
  .pickWeek:after {
    width: 100%;
    padding: 3.2px 0px;
    padding: 0.2rem 0rem;
    position: absolute;
    bottom: 24px;
    bottom: 1.5rem;
    left: 0;
    background-color: #6b4866;
    opacity: 0.8;
    text-align: center;
    color: white;
    z-index: 2; }

.instagram {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }
  @media (max-width: 780px) {
    .instagram {
      max-width: 70%;
      margin: 0 auto;
      clear: both; } }
  @media screen and (min-width: 1001px) {
    .instagram {
      min-height: 280px; } }
  .instagram:after {
    content: "9to5Chic on Instagram"; }

@media (max-width: 780px) {
  .pickWeek {
    max-width: 70%;
    margin: 32px 0px;
    margin: 2rem 0rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center; } }
.pickWeek:after {
  content: "Weekly Craving"; }

.siteFooter {
  clear: both;
  *zoom: 1;
  padding: 32px 32px 16px 32px;
  padding: 2rem 2rem 1rem 2rem;
  background-color: #6b4866;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 11.2px;
  font-size: 0.7rem; }
  .siteFooter:before, .siteFooter:after {
    content: " ";
    display: table; }
  .siteFooter:after {
    clear: both; }
  .siteFooter .stylelist {
    float: left;
    width: 140px; }
    @media (max-width: 780px) {
      .siteFooter .stylelist {
        margin: 0 auto; } }
  .siteFooter .copyright {
    float: right;
    text-align: right; }
    @media (max-width: 780px) {
      .siteFooter .copyright {
        text-align: center; } }
  @media (max-width: 780px) {
    .siteFooter .stylelist,
    .siteFooter .copyright {
      float: none; } }

.aboutContain {
  max-width: 800px;
  max-width: 50rem;
  margin: 0 auto;
  padding: 16px;
  padding: 1rem; }

.aboutImg {
  float: left;
  padding-right: 16px;
  padding-right: 1rem; }

embed {
  max-width: 100%; }

@media (max-width: 780px) {
  .sidebar embed {
    display: block;
    margin: 0 auto; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto !important; }

a {
  color: inherit; }
